<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinBucks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C095B08E1BF70E9600B0F761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C095B0A71BF70E9600B0F761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C095B0B21BF70E9600B0F761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
